.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_text_container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30vh;
  /* border: 1px; */
  /* border-color: red; */
  /* border-style: solid; */
  border-radius: 2em;
  /* background-color: turquoise; */
  background: #5a5a5a80;
  padding: 2em;
}

.slider_text {
  margin: 1em;
}

.slider_button {
  margin: 1em;
}

.button {
  margin: 0 1em;
}
/* img {
  background-size: cover;
} */
